 /* INDEX */
.logo{
  color:black;
  font-family: 'Kulim Park', sans-serif;
  margin-left: 150px;
  margin-top: 100px;
  font-size: 40px;
  
  
  
}
.whap {
 display: flex;
 position: fixed;
 right: 2%;
 height:32px;
  }
  .perfil{
    display: flex;
 position: fixed;
 right: 5%;
 height:27px;
  }
  nav{
 
  }
  
.buscar{
  display: flex;
  align-items: center;
  justify-content:center
  
 }
 .buscar{
  width: 100px;
  padding-left: 40%;
  height: 70px;

  
 }

.menu{
  list-style: none;

  margin: auto;
  background-color:white;
  padding: 0%;
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  
 
}
.menuinicio{
  text-decoration: none;
  display: inline-block;
  padding: 30px;
  text-align: center;
  background-color: rgb(138, 132, 132);
  

}
.menuinicio a{
  text-decoration: none;
  color: black;
}
.avisos{
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-around;
  color: white;
  margin-bottom: 5px;


}
.destacados{
  color: black;
  text-align: center;
  text-decoration: none;
}
.sale{
  color: black;
  text-align: center;
  text-decoration: none;
}
.menuderegistro{
  color: white;
  background-color: black;
}
.emailregistro{
}
.contactos{
display: inline-blocks;
height: 20px;
}
/*IMAGENES*/
.imagen1{
  margin-right: 50%;
  padding-top: 100px;
  margin-left: 30%;
  border-radius: 5px;
}
.imgdest{
  display: inline-block;
  margin-left: 120px;
  border-radius: 5px;
}
.imgsale{
  display: inline-block;
  margin-left: 150px;
  border-radius: 5px;
}
